@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*>*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

:root{
  --color-yellow:#f9c74f;
  --color-purple:#9d4edd;

}

.App {
  text-align: center;
  padding: 4em 0;
}

.bgYellow{
  background-color: var(--color-yellow);
}
.bgPurple{
  background-color: var(--color-purple);
}
 
.title{
  top: 46%;
  left: 21%;
}

.form-input{
  @apply py-4 mt-1 block w-full border-slate-700 focus:outline-none focus:ring-indigo-500 rounded-md
}